<%# Head / Meta Data %>
<% title("Confirmation Details| Pitcairn Aviation LLC") %>
<% meta_description("Make Pitcairn FBO your aviation home. Contact us today to explore our full-scale services, expert support, and client-centered approach to flight needs") %>
<% meta_keywords("Pitcairn FBO, aviation home, contact us, flight needs, full-scale services, expert support, client-centered approach, aviation services, flight plans, representative support") %>

      
<%= render "shared/header" %>

<section class="mt-5">

<div class="relative mx-auto max-w-xl  rounded-lg bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg">
    <div class="bg-white p-7 rounded-md">
        <h1 class="font-bold text-xl mb-2">Thank you for contacting Pitcairn Aviation LLC. </h1>
        <p ">------------</p>
                        <p >We are looking forward to working with you soon.  We will review your message and get back with you within 1-5 business days.  <br><br>
                        You can also give us a call at <%=link_to "(610) 495-7000", "tel:1-610-495-7000" %> or email us at <%= mail_to 'info@pitcairnaviation.com', class: "text-slate-800 hover:underline"%></p>
    </div>
</div>

</section>


