<%= render "shared/header" %>


   
</div>
</section>

<header class="w-full bg-landing bg-cover h-screen-2/4 lg:h-screen-2/4 bg-center flex justify-center items-center">
<section class="px-3 py-5  lg:py-10 font-header">
    <div class="grid lg:grid-cols-2 items-center justify-items-center gap-5">
        <div class="order-2 lg:order-1 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold md:text-7xl text-red-600">Welcome to </p>
            <p class="text-4xl font-bold md:text-6xl uppercase text-gray-800">Pitcairn Aviation</p>
            <p class="mt-2 text-sm md:text-lg text-center">Your trusted Fixed-Base Operator (FBO) at Heritage Field Airport, serving the Pottstown, PA area.
            Reach our team at (610) 495-7000.</p>
            <button class="text-lg md:text-2xl bg-black text-white py-2 px-5 mt-10 hover:bg-zinc-800">Shop Now</button>
        </div>
        <div class="order-1 lg:order-2">
       
        
       
        </div>
    </div>
</section>
</header>

<!--    services -->
<br>
      
<h3 class="text-3xl font-semibold pb-10 font-header mx-5 text-center">OUR COMPREHENSIVE SERVICES</h3>

<div class="flex flex-wrap gap-4 p-3 justify-center text-lg font-serif">
    <a href="#"
        class="bg-gray-100 flex-grow text-black border-l-8 border-red-500 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12">
          •	Self-Serve Convenience

        <div class="text-gray-500 font-thin text-sm pt-1">
            <span>Hassle-free refueling with our AvGas pump</span>
           
        </div>
      </a>
    <a class="bg-gray-100 flex-grow text-black border-l-8 border-red-500 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12"
        href="#">
        •	Full-Service Fueling
        <div class="text-gray-500 font-thin text-sm">
            <span>Reliable refueling with Phillips 66 Branded Fuel./span>
          
        </div>
    </a>
    <a class="bg-gray-100 flex-grow text-black border-l-8 border-red-500 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12"
        href="#">
        •	Overnight Hangar and Tie-down
        <div class="text-gray-500 font-thin text-sm">
            <span>Secure aircraft storage options.</span>
           
        </div>
    </a>
    <a class="bg-gray-100 flex-grow text-black border-l-8 border-red-500 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12"
        href="#">
        •	Hangar Rentals
        <div class="text-gray-500 font-thin text-sm">
            <span>Long-term housing solutions for your aircraft</span>
            
        </div>
    </a>
    <a class="bg-gray-100 flex-grow text-black border-l-8 border-red-500 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12"
        href="#">
        •	Convenience at Your Fingertips
        <div class="text-gray-500 font-thin text-sm">
            <span>Access to crew cars and rental cars</span>
            <span>MCQs: 9584</span>
        </div>
    </a>
    <a class="bg-gray-100 flex-grow text-black border-l-8 border-red-500 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12"
        href="#">
        •	Meeting and Rest Facilities
        <div class="text-gray-500 font-thin text-sm">
            <span>Conference rooms and quiet spaces </span>
           
        </div>
    </a>
    <a class="bg-gray-100 flex-grow text-black border-l-8 border-red-500 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12"
        href="#">
        •	Enhanced Security
        <div class="text-gray-500 font-thin text-sm">
            <span>Fenced airfield gate access and secure parking</span>
           
        </div>
    </a>
    <a class="bg-gray-100 flex-grow text-black border-l-8 border-red-500 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12"
        href="#">
        •	On-Site Assistance
        <div class="text-gray-500 font-thin text-sm">
            <span>Ground power start and jump start services.</span>
           
        </div>
    </a>
    <a class="bg-gray-100 flex-grow text-black border-l-8 border-red-500 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12"
        href="#">
        Other Services
        <div class="text-gray-500 font-thin text-sm">
            <span>For more details ask our Staff</span>
            
        </div>
    </a>
</div>


<!-- fuel services -->


            


<h3 class="text-3xl font-semibold pt-5 font-header mx-5 text-center">FUEL PRICES</h3>

<table class="w-full border-collapse border border-stone-500 max-w-xl mt-16 mx-auto">
  <thead>
  
    <tr class="bg-stone-500 text-white">
      <th class="py-2 px-4 text-left">FUEL TYPE</th>
      <th class="py-2 px-4 text-left">FULL SERVICE</th>
      <th class="py-2 px-4 text-left">SELF SERVICE</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-white border-b border-stone-500">
      <td class="py-2 px-4">100 LL</td>
      <td class="py-2 px-4">$6.43</td>
      <td class="py-2 px-4">$6.18</td>
    </tr>
    <tr class="bg-white border-b border-stone-500">
      <td class="py-2 px-4">Jet A</td>
      <td class="py-2 px-4">$6.50</td>
      <td class="py-2 px-4">--</td>
    </tr>
    <tr class="bg-white border-b border-stone-500">
      <td class="py-2 px-4">Last updated on: October 9, 2023</td>
      <td class="py-2 px-4"></td>
      <td class="py-2 px-4"></td>
    </tr>
  </tbody>
</table>

<!-- image -->

<div id="rental" class="relative bg-white overflow-hidden mt-16">
    <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
                fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                <polygon points="50,0 100,0 50,100 0,100"></polygon>
            </svg>

            <div class="pt-1"></div>

            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                    <h2 class="my-6 text-2xl font-header font-extrabold  sm:text-3xl md:text-4xl">
                        CAR RENTAL
                    </h2>

                    <p  class="text-xl italic">
                    At Pitcairn Aviation, we understand the importance of convenience for our clients, which is why we offer on site Enterprise Car Rental services right at our facility. Whether you're arriving or departing from Heritage Field (KPTW), our partnership with Enterprise ensures that you have easy access to rental cars, allowing for seamless transitions between your flight and ground transportation. In addition to Enterprise, we also work with Hertz and Avis to provide an even broader range of options. While Hertz and Avis aren't on site, they are able to deliver your rental vehicle to our location.
                    </p>
                </div>
            </main>
        </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <%=image_tag "car.webp", alt: "Student pilot taking a discovery flight", class: "h-56 w-full object-cover object-top sm:h-72 md:h-96 lg:w-full lg:h-full"%>    
    
   
    </div>
</div>


<%= render "shared/footer"%>



<!--Sticky div-->
</div>








