

<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    
  <h1 class="font-bold text-2xl lg:text-3xl pt-5 text-center">OUR <span class="text-red-600">SERVICES<span></h1>
    
    <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
    We offer a full range of services available at Pitcairn Aviation LLC FBO. Between fueling stations, hangar rentals, flexible business spaces, and onsite staff allow us to take the headache out of caring for your aircraft.
   </p>
     </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "demofly2.webp", alt: "park airplane", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>

   </div>

  
</section>