

<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    
    
    <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
    The roots of Pitcairn Aviation LLC FBO and Heritage Field Airport run deep. In 2009, ardent pilot and collector of vintage aircraft John K. Desmond Jr acquired what was at the time named Pottstown-Limerick airport near Pottstown Pennsylvania, and its successful, legacy fixed-base operator PennAirways. Renaming the airport to Heritage Field, Desmond ran the operations of the PennAirways FBO successfully for 5 years until his unfortunate passing in 2014.</p>
   </p>
   <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
   Eight years later, in 2022, David Pitcairn, acquired the FBO and Heritage Field Airport, renaming the PennAirways FBO to Pitcairn Aviation LLC. For David, aviation had always been a passion and, in some ways, a legacy of his own. The Pitcairn Aviation LLC heritage traces back to the days of David’s great uncle Harold Pitcairn, one of the revolutionaries in air mail services and the founding of Eastern Airlines. 

    <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
    Today, under the stewardship of Pitcairn Aviation LLC, Heritage Field Airport too remains a historic cornerstone in the greater Philadelphia area. The airport houses other Pitcairn operations like Pitcairn Aviation Academy, PennAir Repair LLC, and PennJet chartering services. Additionally, Heritage Field plays host to annual events–most notably, the Fly-in Pancake Breakfast, a five-decade-old event for aviation enthusiasts to savor pancakes, relish airplane rides, marvel at vintage aircraft, and embark on airplane tours.
    </p>
    
    
    

  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "David-Pitcairn-founder-owner.webp", alt: "David Pitcairn, founder and owner of Pitcairn Aviation LLC, and team in front of their fleet at Heritage Field Airport", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>

    <button class="text-lg md:text-2xl bg-black text-white py-3 px-7 mt-10 mb-10 hover:bg-red-600 rounded-xl border-white"><%= link_to "Meet Us in Person", 'contact',class: "hover:text-white"%></button>
  </div>

  
</section>