

<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    
    
    <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
      At Pitcairn Aviation FBO, our mission is to create a welcoming and vibrant aviation community at Heritage Field Airport. We offer a wide range of services to support both local and transient aircraft operations, including fuel sales, aircraft maintenance, hangar rentals, and concierge services for pilots and passengers.
    </p>
    <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
      Our team of experienced aviation professionals is dedicated to providing exceptional customer service and ensuring a seamless experience for all who visit our FBO. From the moment you land at Heritage Field Airport, you'll be greeted with a warm welcome and assisted with any needs you may have.
    </p>
    <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
      Pitcairn Aviation FBO is committed to the continuous improvement and development of Heritage Field Airport. We have plans to construct additional commercial hangars and enhance the airport's infrastructure, making it an even more attractive destination for aviators and aviation enthusiasts alike.
    </p>
    <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
      With a deep appreciation for the rich history of aviation and a passion for paving the way for future generations of pilots, Pitcairn Aviation FBO invites you to experience the exceptional services and amenities we have to offer. Whether you're a local pilot, an aircraft owner, or simply an aviation enthusiast, our FBO is your gateway to the skies and the heart of the aviation community at Heritage Field Airport.
    </p>
    <p class="w-5/6 lg:w-4/5 pt-5  text-xl lg:text-3xl font-semibold italic p-text">
      Welcome to Pitcairn Aviation FBO
    </p>
    
    
    

  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "David-Pitcairn-founder-owner.webp", alt: "David Pitcairn, founder and owner of Pitcairn Aviation LLC, and team in front of their fleet at Heritage Field Airport", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl object-cover"%>

    <button class="text-base md:text-xl bg-black text-white py-3 px-7 mt-10 mb-10 hover:bg-custom-600 duration-200  uppercase rounded-xl border-white"><%= link_to "Meet Us in Person", 'contact',class: "hover:text-white"%></button>
  </div>

  
</section>