<%# Head / Meta Data %>
<% title("About Us | Pitcairn Aviation LLC") %>
<% meta_description("Discover the rich heritage of Pitcairn Aviation LLC, your trusted Fixed-Base Operator at Heritage Field Airport (KPTW) near Pottstown, PA. Learn about our legacy, passion for aviation, and annual events. Meet us in person to explore our history!") %>
<% meta_keywords("Pitcairn Aviation LLC, Heritage Field Airport, fixed-base operator, KPTW, Pottstown, Pennsylvania, aviation legacy, vintage aircraft, PennAirways, aviation events, aviation enthusiasts") %>


<%= render "shared/header" %>


   
<header class="w-full bg-flyplane bg-cover h-screen-3/4 lg:h-screen-3/4 bg-center flex justify-center items-center">
<section class="px-3 py-5  lg:py-10 font-header">
    <div class="grid lg:grid-cols-2 items-center justify-items-center gap-5">
        <div class="order-2 lg:order-1 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold md:text-7xl text-white">Get to Know Us</p>
            <p class="text-4xl font-bold md:text-6xl uppercase text-neutral+50">Pitcairn Aviation</p>
            <p class="mt-2 text-sm md:text-lg text-center text-black">Your Trusted Fixed-Base Operator at Heritage Field Airport (KPTW) near Pottstown, PA
            </p>
            
        </div>
        <div class="order-1 lg:order-2">
       
        
       
        </div>
    </div>
</section>
</header>







<!--   body1-->




<section class="bg-gradient-to-t lg:bg-gradient-to-l from-gray-200 to-gray-300 text-black">
  <div class="flex flex-col lg:flex-row-reverse lg:items-center pt-10 lg:py-10">
    <!--Text Section-->
    <div class="lg:w-1/2 flex flex-col justify-center items-center pb-10">
      <p class="text-xl lg:text-3xl text-center"></p>
      <h1 class="font-bold text-3xl lg:text-5xl pt-5 text-center">ABOUT<span class="text-red-600"> US<span></h1>
      <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-xl p-text text-justify">
      Pitcairn Aviation  FBO was born out of a dream by founder David Pitcairn. Learn about his beginnings as a pilot and how Pitcairn Aviation evolved from a seedling idea into PennAirways (our former name) and eventually became the FBO you see today.
      </p>
      <p class="w-5/6 lg:w-4/5 pt-5 text-left lg:text-left text-lg lg:text-base p-text">
      
      </p>
      <button class="text-lg md:text-2xl bg-black text-white py-3 px-5 mt-10 hover:bg-red-600 rounded-xl border-white">Meet the Pitcairn Team</button>
    </div>
    <div class="lg:w-1/2">
    
      <div class="grid place-items-center lg:mx-10">
        <%= image_tag "meet-the-pitcairn-team.webp" , alt: ": Owner David Pitcairn and team in front of Pitcairn Aviation LLC fleet at Heritage Field Airport", class: "lg:rounded-2xl lg:w-2/3"%>
        
      </div>
    </div>
  </div>
</section>





<!--   body2-->



<%= render "shared/history"%>

  

<!-- footer -->


<%= render "shared/footer"%>



<!--Sticky div-->
</div>








