<section class="relative" id="hero">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-screen p-44 bg-no-repeat bg-center bg-cover bg-fixed bg-clip-padding mix-blend-normal lg:flex lg:flex-col lg:justify-center lg:items-center lg:text-center lg:opacity-[100%] lg:bg-primary lg:bg-gradient-to-br lg:from-primary lg:to-secondary lg:ring-primary lg:ring-offset-primary" style="background-image:url('https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/7ee40ebf-0b73-4940-bc5d-03514ceb1587.jpeg')"></div>
    <div class="relative h-screen lg:flex lg:flex-col lg:justify-center lg:items-center">
        <div class="row justify-center">
            <div class="p-20 text-center md:w-10/12 lg:w-full lg:bg-[rgba(0,0,0,0.34)]">
                <h1 class="mb-6 display-4 font-thin text-white">On Site Assistance</h1>
                <p class="h5 mb-10 font-thin text-white lg:ring-white">Keeping your aircraft operations running smoothly
                    <br />with little to no downtime.
                </p>
                <p class="block pb-6 mb-4 text-sm text-white">*24/7 | 365 Days A Year</p>
                <a class="btn btn-primary btn-cta px-12 py-4 taos:scale-[0.6] taos:opacity-0" href="/on-site-assistance#trusted">Learn More ⤓</a>
            </div>
        </div>
    </div>
</section>
<section id="trusted" class="z-[2] mt-[-150px]">
    <div class="container">
        <div class="row mt-12">
            <div class="col p-10 mt-6 bg-primary sm:w-6/12 md:w-[50%] md:mt-0 lg:w-[33%] lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-x-0 lg:gap-y-5">
                <img src="https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/c2d97636-858d-4f66-a93d-2372976b4961.svg" height="50" width="50" alt="main feature 1" />
                <h3 class="letter-spacing-xs mt-2 mb-3 text-light lg:text-center">Convenience
                    <br />At Your Fingertips
                </h3>
                <p class="h5 mb-0 text-lg font-thin leading-6 text-light lg:text-center">No need to travel far – everything you need is right at our FBO. Save time and enjoy the efficiency of having essential services within arm's reach.</p>
            </div>
            <div class="col p-10 mt-6 bg-primary sm:w-6/12 md:w-[50%] md:mt-0 lg:w-[33%] lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-x-0 lg:gap-y-5">
                <img src="https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/c2d97636-858d-4f66-a93d-2372976b4961.svg" height="50" width="50" alt="main feature 1" />
                <h3 class="letter-spacing-xs mt-2 mb-3 text-light lg:text-center">24/7 Availability:
                    <br />Ready When You Are
                </h3>
                <p class="h5 mb-0 text-lg font-thin leading-6 text-light lg:text-center">Arriving late in the evening, departing at the crack of dawn, or facing an unexpected challenge? No problem. Our team is always ready to assist.</p>
            </div>
            <div class="col p-8 mt-6 bg-primary sm:w-[100%] md:w-[100%] md:mt-0 lg:w-[33%] lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-x-0 lg:gap-y-5">
                <img src="https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/c2d97636-858d-4f66-a93d-2372976b4961.svg" height="50" width="50" alt="main feature 1" />
                <h3 class="letter-spacing-xs mt-2 mb-3 text-white md:text-left lg:text-center">Proven Expertise
                    <br />and Reliability
                </h3>
                <p class="h5 mb-0 text-lg font-thin leading-6 text-center text-light sm:text-left md:text-left">When you choose Pitcairn Aviation, rest assured that you're partnering with a trusted name that values expertise, precision, and reliability.</p>
            </div>
        </div>
    </div>
</section>
<section id="Partnersintro" class="py-20">
    <div class="container">
        <div class="rounded-none lg:flex-row lg:items-center">
            <div>
                <p class="text-lg font-light text-justify">We understand that the unexpected can happen in the world of aviation. That's why we offer comprehensive On-Site Assistance, including Ground Power Start and Jump-Start Services, to keep your aircraft operations running.</p>
            </div>
        </div>
        <div class="row card p-10 rounded-none sm:flex-row md:flex-row lg:flex-row lg:items-center">
            <div class="col mb-4 object-cover text-center sm:w-[30%] sm:block sm:text-left md:w-4/12 lg:w-[20%]">
                <img width="200" class="rounded-none" src="https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/8e38358d-cd74-4a82-b628-e1b45bae2576.jpeg" />
            </div>
            <div class="col tab w-[50%] block sm:w-[70%] md:w-7/12 lg:w-[80%]">
                <h1 class="h3 flex flex-row lg:text-left lg:text-primary">Jump Start Services</h1>
                <hr class="my-2" />
                <p class="text-lg font-light text-justify">Aircraft operations are expensive. As such, we understand that every second counts and when your aircraft's engine hesitates or refuses to roar to life, you can't afford to wait. That's where our seasoned team of experts steps in to provide you with prompt and efficient jump-start services. We understand the intricacies of different aircraft, from small private planes to larger commercial giants, and our expertise ensures that your aircraft receives the precise care it demands.</p>
                <p class="text-lg font-light text-justify">Our customers always praise us for our ability to navigate through the intricacies of each aircraft, addressing problem with precision and care, and ensuring lasting solutions.</p>
            </div>
        </div>
        <div class="row card p-10 rounded-none md:flex-row lg:flex-row lg:items-center">
            <div class="col tab w-[60%] pr-10 sm:w-[100%] md:w-3/5 lg:w-10/12">
                <h1 class="h3 lg:text-left lg:text-primary">Ground Power Start Services</h1>
                <hr class="pb-5 my-2" />
                <p class="text-lg font-light text-justify">In the world of aviation, it's not enough to have your aircraft grounded. Effective ground operations are essential to meet the ever-increasing demands for efficiency and reliability. At our core, we're committed to elevating your aviation experience through top-notch ground handling services. Our goal is to enhance operational efficiency, enabling you to manage costs while consistently exceeding your expectations with a safe and dependable service.</p>
                <p class="text-lg font-light text-justify">Our team of seasoned professionals empowers us to craft tailor-made solutions for each client. We don't offer a one-size-fits-all approach; instead, we provide all-encompassing airport ground handling services, delivered through accredited ground handlers and flight support services.</p>
                <p class="pb-5 text-lg font-light text-justify">From our cutting-edge facility, we extend a wide range of services, encompassing everything from standard Ground Handling services to meticulous aircraft exterior and interior cleaning and presentation. We also facilitate arrangements for aircraft refueling, catering, decatering, crew and passenger car rentals, hotel accommodations, and more. Our advanced exterior cleaning systems are readily accessible, with a fully-equipped hangar at your disposal when the need arises. To top it off, we offer highly competitive fuel rates, ensuring our clients get the best value for their aviation needs.</p>
                <a class="btn btn-primary btn-cta px-12 py-4 taos:scale-[0.6] taos:opacity-0" href="/on-site-assistance#contact" target="_blank">Contact Us ⤓</a>
            </div>
            <div class="col w-[38%] flex flex-col justify-evenly gap-y-10 pt-10 mb-4 text-center bg-no-repeat bg-center bg-cover sm:w-[100%] sm:flex-row sm:justify-between md:w-[30%] md:block md:flex-col md:gap-x-10 md:gap-y-10 lg:w-2/12 lg:flex-col">
                <img width="200" class="rounded-none" src="https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/e9685c40-8d44-4bad-bf4f-d5642108338d.jpeg" />
                <img width="200" class="rounded-none" src="https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/2dbe1fbd-3652-4597-a3c6-a2e575aa6dc1.jpeg" />
            </div>
        </div>
    </div>
</section>
<section id="partnersintro" class="py-10 pt-0 leading-relaxed">
    <div class="container">
        <div class="row relative items-center py-12 md:flex-row">
            <div class="z-[0] absolute top-[30%] w-full h-[70%] bg-primary-50 lg:top-[0%] lg:left-[30%] lg:w-[70%] lg:h-full lg:bg-primary lg:rounded-l-none lg:hover:bg-primary"></div>
            <div class="col md:w-10/12 lg:w-6/12 mx-auto z-[1]">
                <img class="mx-auto rounded lg:rounded-r-none taos:translate-x-[-200px] taos:scale-[0.6] taos:opacity-0" src="https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/64e67be5-ea6d-4e1c-83fe-387d77982af3.jpeg" alt="testimonial face" />
            </div>
            <div class="col md:w-10/12 lg:w-6/12 mx-auto z-[1]">
                <div class="pr-20 mt-6 md:h-[5%] lg:block lg:pl-12">
                    <h1 class="text-light">Our Partners</h1>
                    <hr class="pr-20 my-2" />
                    <p class="h4 pt-5 font-thin leading-9 text-light">"To help you gain access to a unique set of benefits, we've carefully chosen to partner with some of the most reputable names in the car rental industry."</p>
                    <a href="/on-site-assistance#partners" class="block">
                        <i class="fas fa-arrow-down fa-3x text-3xl text-primary lg:text-secondary lg:active:text-secondary lg:hover:bg-light"></i>
                    </a>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="partners" class="py-20 pt-1">
    <div class="container">
        <div class="row card p-10 rounded-none lg:flex-row lg:items-center">
            <div class="col lg:w-2/12 text-center mb-4">
                <img width="200" class="rounded-full ease-in-out taos:opacity-0" src="https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/fdf5f79d-d44b-4443-95ed-1df9005c744f.webp" />
            </div>
            <div class="col tab lg:w-10/12">
                <h1 class="h3 lg:text-left lg:text-primary">Enterprise Car Rental</h1>
                <p class="text-lg font-light">
                    <b>Our partnership with <a href="https://www.enterprise.com/" target="_blank" class="text-red-500 underline">Enterprise Car Rental</a> ensures that convenience is always at your fingertips. With on-site availability, you can seamlessly transition between your flight and ground transportation. Knowing that you are using a car rental firm that has many years of experience can give you great peace of mind. As a recognizable name that has spread widely throughout many locations across several countries, the company is convenient and easy to use. The wide-ranging network will also ensure their fleet of cars is properly taken care of, so you are sure to obtain a reliable car. Additionally, Enterprise offers:</b>
                </p>
                <p class="pb-6 text-lg font-light">▪ Free cancellations
                    <br />▪ Low rates and quality service
                    <br />▪ Award-winning customer service
                    <br />▪ Redeem for free rental days with no blackout dates
                    <br />▪ Earn points towards free rental days with Enterprise Plus
                    <br />▪ Ability to forecast spend based on negotiated mid-size rates
                    <br />▪ Vehicle upgrades with no cost, plus increased satisfaction among employee travelers
                </p>
            </div>
        </div>
        <div class="row card p-10 rounded-none lg:flex-row lg:items-center">
            <div class="col mb-4 text-center lg:w-2/12 lg:flex lg:justify-start lg:items-center lg:text-left">
                <img width="200" class="ease-[cubic-bezier(.47,0,.745,.715)] rounded-full taos:opacity-0" src="https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/033710f6-fb65-4eca-a7bd-88738f63f6b1.jpeg" />
            </div>
            <div class="col tab lg:w-10/12 lg:block">
                <h1 class="h3 lg:text-left lg:text-primary">Avis Car Rental</h1>
                <p class="text-lg font-light font-semibold">Avis Car Rental Provides great flexibility and choice, so you can pick the ideal car for your journey. <span style="font-weight:normal" class="font-light">This will make your travel experience even more tailored to your specific needs.</span>
                </p>
            </div>
        </div>
        <div class="row card p-10 rounded-none lg:flex-row">
            <div class="col mb-4 text-center lg:w-2/12 lg:flex lg:justify-start lg:items-center lg:text-left">
                <img width="200" class="rounded-full taos:opacity-0" src="https://d1pnnwteuly8z3.cloudfront.net/images/8a6b492d-d95f-4b19-bd2c-0e5173521060/b3f81bc7-1e88-45bb-9185-49176d8c90b2.png" />
            </div>
            <div class="col tab lg:w-10/12">
                <h1 class="h3 lg:text-left lg:text-primary">Hertz Car Rental</h1>
                <p class="text-lg font-light font-semibold">While Hertz may not be on-site, they can conveniently deliver your chosen rental car to our location. <span style="font-weight:normal" class="font-light">This partnership allows you to access a wide range of vehicles, ensuring you find the perfect match for your travel.</span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-28 pt-1 bg-primary-50" id="contact">
    <div class="container">
        <div class="pb-10">
            <h2 class="letter-spacing-xs display-5 font-thin text-left text-secondary">
                <b>_</b>
            </h2>
            <h2 class="letter-spacing-xs display-5 font-thin text-left">Get In Touch</h2>
            <p class="text-left">Do you need more information about Pitcairn F.B.O?
                <br />Please contact us to find more about our services. We`re here to assist!
            </p>
        </div>
        <div class="row">
            <div class="col p-8 py-6 bg-white rounded-left lg:w-8/12">
                <form class="row" data-formid="4bfb6679-f402-422e-8ae6-5b46d4539bbd">
                    <div class="col md:w-6/12 mb-4">
                        <input type="text" class="form-input rounded-none" placeholder="Your Name" name="name" />
                    </div>
                    <div class="col md:w-6/12 mb-4">
                        <input type="email" name="email" class="form-input rounded-none" placeholder="Work Email" />
                    </div>
                    <div class="col mb-4">
                        <input type="text" class="form-input rounded-none" name="subject" placeholder="Subject" />
                    </div>
                    <div class="col mb-4">
                        <label>Your message</label>
                        <textarea name="message" class="form-input rounded-none" id="message" rows="6"></textarea>
                    </div>
                    <div class="col mb-4 inline-flex items-center">
                        <input type="checkbox" class="form-checkbox" id="agree" name="agree" required="" checked="" />
                        <label class="ml-2" for="agree">Email me product updates and special offers.</label>
                    </div>
                </form>
                <button class="btn btn-primary btn-cta px-12 py-4 lg:hover:to-black taos:scale-[0.6] taos:opacity-0" target="_blank" href="https://www.enterprise.com/en/home.html">Send Your Message ⇥</button>
                <div data-form-successid="4bfb6679-f402-422e-8ae6-5b46d4539bbd" class="d-js alert alert-success bg-success text-white">
                    <p class="mb-0">We received your message and will contact you back soon.</p>
                </div>
                <div data-form-errorid="4bfb6679-f402-422e-8ae6-5b46d4539bbd" class="d-js alert alert-danger bg-danger text-white mt-2">
                    <p class="mb-0">Error sending please try again</p>
                </div>
            </div>
            <div class="col p-10 py-6 text-white bg-primary rounded-r lg:w-4/12 lg:flex lg:flex-col lg:justify-center">
                <h4 class="font-semibold mb-3">Contact Information</h4>
                <p class="font-thin">Shoot us a message. We try to answer all enquiries within 24 hours on business days.</p>
                <h5 class="pt-6 pb-2 mb-3 font-semibold">Opening Hours</h5>
                <p class="mb-5 font-thin">Mon-Fri: 9:00 AM - 5:00 PM</p>
                <div class="flex items-center mb-3">
                    <i class="fas fa-map-marker-alt w-[45px] float-left text-3xl lg:text-secondary"></i>
                    <span class="font-thin">3310 W Ridge Pike Pottstown, PA 19464</span>
                </div>
                <div class="flex items-center mb-3">
                    <i class="fas fa-mobile-alt w-[45px] float-left text-3xl lg:text-secondary"></i>
                    <span class="font-thin">(610) 495-7000</span>
                </div>
                <div class="flex items-center mb-3">
                    <i class="fas fa-envelope w-[45px] float-left text-3xl lg:text-secondary"></i>
                    <span class="font-thin">info@pitcairnaviation.com</span>
                </div>
            </div>
        </div>
    </div>
</section>